<!-- IMU message attitude to TF relay (with the option to publish odom messages as well
     Warning: Our IMU's typpicaly cannot estimate translation (except for the fancy MTi-G 
     and similar with GPS. This relay fills the translation fields with zeros.
-->
<launch>
  <node pkg="norlab_imu_tools" type="imu_attitude_to_tf_node" name="imu_attitude_to_tf_node" output="screen">
    <remap from="imu_topic" to="/imu/data_filtered" />
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_link" />

    ## This rosparam allows you to set IMU alignment w.r.t. base_link
    ## E.g. in our peli-case, the IMU is mounted upside-down, so set the RPY appropriately
    ## Values in RAD 
    <rosparam param="imu_alignment_rpy">[3.14159265359, 0.0, 3.14159265359]</rosparam>  <!--Pelicase box for skidoo, all angles in radians! -->
    <param name="mag_north_correction_yaw" value="0.0" />


    ## If odom message needed (but keep in mind that only the orientation makes sense):
    <param name="publish_odom" value="True" />
    <param name="odom_topic_name" value="imu_odom" />

  </node>
</launch>
