<launch>
 

<node pkg="rosbag" type="record" name="rosbag_record_node"
       args="record -o /home/vlad/norlab_data/extracted_odom_bags/odom_replay 
       /fix /icp_error_odom /icp_odom /mti/sensor/imu /mti/sensor/magnetic /nmea_sentence_front /nmea_sentence /nmea_sentence_back /nmea_sentence_rear /odom_utm /tf /tf_static /time_reference /vel /icp_map_iteration_statistics /icp_match_iteration_statistics /imu_and_wheel_odom /lora_received_packets /post_fix_back /post_fix_front"
       />

</launch>
