<launch>
 

<node pkg="rosbag" type="record" name="rosbag_record_node"
       args="record -o /home/vlad/norlab_data/extracted_odom_bags/odom_replay 
       /icp_error_odom /icp_odom /imu_odom /initialpose /os1_cloud_node/imu
       /tf /tf_static /vectornav/IMU /vectornav/Mag /vectornav/Odom"
       />

</launch>
